<!DOCTYPE html>
<html lang="en">

<head>
    <title>Class Grader - Search Classes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="./findClasses.js"></script>
    <script src="../global/global.js"></script>

    <link rel="stylesheet" href="./findClasses.css">
    <link rel="stylesheet" href="../global/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <!-- Logged In Header -->
    <div id="nav-container">
        <nav id="nav-bar">
            <a href="/index"><img id="nav-logo" src="../global/logo.png"></a>

            <a class="nav-element1" href="/index">
                Home
            </a>
            <a class="nav-element1" href="/findClasses">
                Search Classes
            </a>
            <a class="nav-element1" href="/newClass">
                New Class
            </a>

            <a class="nav-element3" onclick="logout()">
                Logout
            </a>
            <a class="nav-element2" href="/profile">
                Profile
            </a>
        </nav>
    </div>

    <div id="page-container">
        <div id="page-content">
            <form id="search-form" onsubmit="return false">
                <h2 id="search-header">Search Classes</h2>
    
                <input type="text" class="text-form"" id="school-input" placeholder="School" <% if (search.school) { %> value="<%-search.school%>" <% } %>>
                <input type="text" class="text-form" id="class-input" placeholder="Class Name" <% if (search.class) { %> value="<%-search.class%>" <% } %>>
    
                <button id="search-submit" type="submit" onclick="search()">Search</button>
            </form>
    
            <div id="search-results">
                <% for (let i = 0; i < found.length; i++) { %>
                    <div class="result">
                        <a class="className" href="/classes/<%- found[i].link %>"><%- found[i].className %></a>
                        <p class="school">at <%- found[i].school %></p>
                        <p class="teacher">Teacher: <%- found[i].teacher %></p>
    
                        <div class="rating-container">
                            <p class="rating-label">Average Rating: </p>
                            <div class="rating">
                                <% for (let j = 5; j > 0; j--) { %>
                                    <% if (j <= found[i].rating) { %>
                                        <div class="rating-bar-dark"></div>
                                    <% } else { %>
                                        <div class="rating-bar-light"></div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
    
                <% if (search.school && found.length === 0) { %>
                    <p id="no-results">No Results</p>
                <% } %>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div id="footer-container">
                <div id="site-index">
                    <h5>Class Grader Site Index</h5>

                    <a href="/index">Home</a><br>
                    <a href="/signup">Sign Up</a><br>
                    <a href="/login"">Login</a><br>
                    <a href=" /profile">Profile</a><br>
                    <a href="/findClasses">Find Class</a><br>
                    <a href="/newClass">New Class</a><br>
                </div>

                <div id="contact">
                    <h5>Contact</h5>

                    <a>Email: someone@someplace.com</a>
                    <p>Phone: 1-(800)-123-4567</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>