<!DOCTYPE html>
<html lang="en">

<head>
    <title>Class Grader - <%-user.username%>'s Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../global/global.js"></script>

    <link rel="stylesheet" href="./profile.css">
    <link rel="stylesheet" href="../global/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <!-- Logged In Header -->
    <div id="nav-container">
        <nav id="nav-bar">
            <a href="/index"><img id="nav-logo" src="../global/logo.png"></a>
            
            <a class="nav-element1" href="/index">
                Home
            </a>
            <a class="nav-element1" href="/findClasses">
                Search Classes
            </a>
            <a class="nav-element1" href="/newClass">
                New Class
            </a>

            <a class="nav-element3" onclick="logout()">
                Logout
            </a>
            <a class="nav-element2" href="/profile">
                Profile
            </a>
        </nav>
    </div>

    <div id="page-content">
        <div id="profile-card">
            <h1><%-user.username%>'s Profile</h2>

            <p>School: <%-user.school%></p>

            <br><br>
            <h2 id="reviews-header"><%-user.username%>'s Reviews</h2>
            <br>
        </div  >

        <% for (let i = ratings.length - 1; i >= 0; i--) { %>
            <div class="rating-card">
                <div class="rating-header">
                    <h2 class="class-name"><%-ratings[i].className%></h2>
                    <p class="school-name">at <%-ratings[i].school%></p>
                    <p class="teacher-name">Teacher: <%-ratings[i].teacher%></p>
                    <p class="date"><%-ratings[i].date%></p>
                </div>

                <div class="ratings">
                    <div class="rating-container">
                        <p class="rating-label">Overall: </p>
                        <div class="rating">
                            <% for (let j = 5; j > 0; j--) { %>
                                <% if (j <= ratings[i].overallRating) { %>
                                    <div class="rating-bar-dark"></div>
                                <% } else { %>
                                    <div class="rating-bar-light"></div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="rating-container">
                        <p class="rating-label">Content: </p>
                        <div class="rating">
                            <% for (let j = 5; j > 0; j--) { %>
                                <% if (j <= ratings[i].contentRating) { %>
                                    <div class="rating-bar-dark"></div>
                                <% } else { %>
                                    <div class="rating-bar-light"></div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="rating-container">
                        <p class="rating-label">Homework: </p>
                        <div class="rating">
                            <% for (let j = 5; j > 0; j--) { %>
                                <% if (j <= ratings[i].homeworkRating) { %>
                                    <div class="rating-bar-dark"></div>
                                <% } else { %>
                                    <div class="rating-bar-light"></div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="rating-container">
                        <p class="rating-label">Teacher: </p>
                        <div class="rating">
                            <% for (let j = 5; j > 0; j--) { %>
                                <% if (j <= ratings[i].teacherRating) { %>
                                    <div class="rating-bar-dark"></div>
                                <% } else { %>
                                    <div class="rating-bar-light"></div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>

                <p class="review">
                    Review: <br>
                    <%-ratings[i].review%>
                </p>
            </div>
        <% }; %>
    </div>


    <!-- Footer -->
    <footer id="footer">

    </footer>
</body>

</html>